.dictionary section {
  margin: 40px;
  padding: 40px;
  font-family: "Patrick Hand", cursive;
  background-color: rgba(146, 140, 231, 0.2);
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.word {
  text-decoration: underline;
}

.synonyms {
 text-align: justify;
}

.form {
  margin: 30px;
}
.form input {
  margin-left: 20px;
}

.phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
}
.photos img{
  margin-bottom: 50px;
  border-radius: 10px;
}
.coder {
  margin-bottom: 20px;
  text-align: center;
}