.dictionary section {
  margin: 40px;
  padding: 40px;
  font-family: "Patrick Hand", cursive;
  background-color: rgba(146, 140, 231, 0.2);
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.word {
  text-decoration: underline;
  text-align: center;
}

.synonyms {
 text-align: justify;
}

.form {
  margin: 30px;
}
.form input {
  margin-left: 20px;
}

